<div class="npc flexcol">
  <div class="character-details flexrow">
    <div class="character-detail attribute" data-attrib="lck">
      <div class="title attribute-label rollable">{{localize 'CoC7.Luck'}}</div>
      <input class="detail-value attribute-value{{#if attribs.lck.activeEffectValue}} modified-by-active-effect{{/if}}" type="text" {{#if attribs.lck.activeEffectValue}}{{#if @root.document.system.flags.locked}} value="{{attribs.lck.value}}" data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.attribs.lck.value" value="{{attribs.lck.sourceValue}}" data-tooltip-key="lck" {{/if}}{{else}} name="system.attribs.lck.value" value="{{attribs.lck.value}}" {{/if}} />
      <div class="separator">/</div>
      <input class="detail-value attribute-max" type="text" value="99" readonly />
    </div>

    <div class="character-detail attribute" data-attrib="hp">
      <div class="title attribute-label">{{localize 'CoC7.HitPoints'}}</div>
      <input class="detail-value attribute-value{{#if attribs.hp.activeEffectValue}} modified-by-active-effect{{/if}}" type="text" {{#if attribs.hp.activeEffectValue}}{{#if @root.document.system.flags.locked}} value="{{attribs.hp.value}}" data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.attribs.hp.value" value="{{attribs.hp.sourceValue}}" {{/if}}{{else}} name="system.attribs.hp.value" value="{{attribs.hp.value}}" {{/if}} />
      <div class="separator">/</div>
      <input class="detail-value attribute-max{{#if (and (not document.system.flags.locked) (not document.system.attribs.hp.auto))}} not-auto{{/if}}{{#if attribs.hp.activeEffectMax}} modified-by-active-effect{{/if}}" type="text" {{#if attribs.hp.activeEffectMax}}{{#if @root.document.system.flags.locked}} value="{{attribs.hp.max}}" data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.attribs.hp.max" value="{{attribs.hp.sourceMax}}" {{/if}}{{else}} name="system.attribs.hp.max" value="{{attribs.hp.max}}" {{/if}}{{#if (or document.system.flags.locked document.system.attribs.hp.auto)}} readonly{{/if}} />
    </div>

    <div class="status flexrow" style="flex: 0 0 7em;">
      <div class="item-control icon fallen{{#if document.system.conditions.prone.value}} status-on{{/if}}" data-tooltip="CoC7.Prone" data-action="condition" data-condition="prone"><i class="game-icon game-icon-falling"></i></div>
      <div class="item-control icon unconscious{{#if document.system.conditions.unconscious.value}} status-on{{/if}}" data-tooltip="CoC7.Unconsious" data-action="condition" data-condition="unconscious"><i class="game-icon game-icon-knocked-out-stars"></i></div>
      <div class="item-control icon injured{{#if document.system.conditions.criticalWounds.value}} status-on{{/if}}" data-tooltip="CoC7.CriticalWounds" data-action="condition" data-condition="criticalWounds"><i class="game-icon game-icon-arm-sling"></i></div>
      <div class="item-control icon dying{{#if document.system.conditions.dying.value}} status-on{{/if}}" data-tooltip="CoC7.Dying" data-action="condition" data-condition="dying"><i class="game-icon game-icon-heart-beats"></i></div>
      {{#if document.system.conditions.dead.value}}
        <div class="item-control icon dead status-on" data-tooltip="CoC7.Dead" data-action="condition" data-condition="dead"><i class="game-icon game-icon-tombstone"></i></div>
      {{else}}
        <div class="icon dead{{#if document.system.conditions.dying.value}} item-control dying-check{{else}} inactive-status{{/if}}" data-action="dying-check" data-tooltip="{{#if document.system.conditions.dying.value}}CoC7.DyingCheck{{/if}}"><i class="game-icon game-icon-d10"></i></div>
      {{/if}}
    </div>

    <div class="character-detail attribute" data-attrib="san">
      <div class="title attribute-label rollable">{{localize 'CoC7.Sanity'}}</div>
      <input class="detail-value attribute-value{{#if attribs.san.activeEffectValue}} modified-by-active-effect{{/if}}" type="text" {{#if attribs.san.activeEffectValue}}{{#if @root.document.system.flags.locked}} value="{{attribs.san.value}}" data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.attribs.san.value" value="{{attribs.san.sourceValue}}" {{/if}}{{else}} name="system.attribs.san.value" value="{{attribs.san.value}}" {{/if}} />
      <div class="separator">/</div>
      <input class="detail-value attribute-max{{#if (and (not document.system.flags.locked) (not document.system.attribs.san.auto))}} not-auto{{/if}}{{#if attribs.san.activeEffectMax}} modified-by-active-effect{{/if}}" type="text" {{#if attribs.san.activeEffectMax}}{{#if @root.document.system.flags.locked}} value="{{attribs.san.max}}" data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.attribs.san.max" value="{{attribs.san.sourceMax}}" {{/if}}{{else}} name="system.attribs.san.max" value="{{attribs.san.max}}" {{/if}}{{#if (or document.system.flags.locked document.system.attribs.san.auto)}} readonly{{/if}} />
    </div>

    <div class="status flexrow" style="flex: 0 0 3em;">
      <div class="item-control icon bout-of-madness{{#if document.system.conditions.tempoInsane.value}} status-on{{/if}}" data-tooltip="{{localize 'CoC7.BoutOfMadness'}}{{#if document.getTempoInsaneDurationText}}: {{document.getTempoInsaneDurationText}}{{/if}}" data-action="condition" data-condition="tempoInsane"><i class="game-icon game-icon-hanging-spider"></i></div>
      <div class="item-control icon indefinite-insanity{{#if document.system.conditions.indefInsane.value}} status-on{{/if}}" data-tooltip="{{#if document.system.conditions.indefInsane.value}}CoC7.UnderlyingInsanity{{else}}CoC7.IndefiniteInsanity{{/if}}" data-action="condition" data-condition="indefInsane"><i class="game-icon game-icon-tentacles-skull"></i></div>
    </div>

    <div class="character-detail attribute" data-attrib="mp">
      <div class="title attribute-label rollable">{{localize 'CoC7.MagicPoints'}}</div>
      <input class="detail-value attribute-value{{#if attribs.mp.activeEffectValue}} modified-by-active-effect{{/if}}" type="text" {{#if attribs.mp.activeEffectValue}}{{#if @root.document.system.flags.locked}} value="{{attribs.mp.value}}" data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.attribs.mp.value" value="{{attribs.mp.sourceValue}}" {{/if}}{{else}} name="system.attribs.mp.value" value="{{attribs.mp.value}}" {{/if}} />
      <div class="separator">/</div>
      <input class="detail-value attribute-max{{#if (and (not document.system.flags.locked) (not document.system.attribs.mp.auto))}} not-auto{{/if}}{{#if attribs.mp.activeEffectMax}} modified-by-active-effect{{/if}}" type="text" {{#if attribs.mp.activeEffectMax}}{{#if @root.document.system.flags.locked}} value="{{attribs.mp.max}}" data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.attribs.mp.max" value="{{attribs.mp.sourceMax}}" {{/if}}{{else}} name="system.attribs.mp.max" value="{{attribs.mp.max}}" {{/if}}{{#if (or document.system.flags.locked document.system.attribs.mp.auto)}} readonly{{/if}} />
    </div>
  </div>
  <div class="character-details character-blocks flexrow">
    <div class="characteristics-block">
      <div class="primary-attributes{{#if showPartValues}} show-part-values{{/if}}">
        <div class="characteristics">
          {{#each characteristics as |characteristic key|}}
            <div class="char-box attribute characteristic-{{key}}" data-characteristic="{{key}}" draggable="true">
              <div class="characteristic-name rollable" draggable="true" data-tooltip-key="{{key}}"><i class="game-icon game-icon-d10"></i> {{localize characteristic.short}}</div>
              <div class="char-box-values">
                <input class="characteristic-score detail-value{{#if characteristic.activeEffectValue}} modified-by-active-effect{{/if}}" type="text" {{#if characteristic.activeEffectValue}}{{#if @root.document.system.flags.locked}} value="{{characteristic.value}}" data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.characteristics.{{key}}.value" value="{{characteristic.sourceValue}}" {{/if}}{{else}} name="system.characteristics.{{key}}.value" value="{{characteristic.value}}" {{/if}} />
                <span class="part-detail-value half-score">{{calcHard characteristic.value}}</span>
                <span class="part-detail-value fifth-score">{{calcExtreme characteristic.value}}</span>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="character-details flexrow">
        <div class="character-detail attribute">
          <div class="title attribute-label">{{localize 'CoC7.Mov'}}</div>
          <span class="detail-value attribute-value">{{document.system.attribs.mov.value}}</span>
        </div>
        <div class="character-detail attribute">
          <div class="title attribute-label">{{localize 'CoC7.Build'}}</div>
          <span class="detail-value attribute-value">{{document.system.attribs.build.value}}</span>
        </div>
        <div class="character-detail attribute" data-attrib="db">
          <div class="title attribute-label rollable">{{localize 'CoC7.DB'}}</div>
          <span class="detail-value attribute-value">{{document.system.attribs.db.value}}</span>
        </div>
        <div class="character-detail attribute">
          <div class="title attribute-label">{{localize 'CoC7.Armor'}}</div>
          <span class="detail-value attribute-value">{{document.system.attribs.armor.value}}</span>
        </div>
      </div>
    </div>
    {{#if showIconsOnly}}
      <div class="skills-block icons-only">
        {{#each skillsByValue as |skill|}}
          <div class="item" data-item-uuid="{{skill.uuid}}">
            <div class="item-image skill-name item-name rollable" data-name-tooltip="{{skill.name}}" data-value-tooltip="{{skill.system.value}}" style="background-image: url('{{skill.img}}')"></div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <div class="skills-block">
        {{#each topSkills as |skill|}}
          <div class="item flexrow" data-item-uuid="{{skill.uuid}}">
            <div class="item-image" style="background-image: url('{{skill.img}}')"></div>
            <div class="item-name skill-name rollable" data-name-tooltip="{{skill.name}}" data-value-tooltip="{{skill.system.value}}">{{skill.name}}</div>
            <div class="item-score">{{skill.system.value}}</div>
            <div class="item-controls">
              {{#unless skill.system.properties.noxpgain}}
                {{#if skill.system.flags.developement}}
                  <a class="item-control development-flag active" data-tooltip="{{localize 'CoC7.ToolTipSkillFlagToggle' status=(localize 'CoC7.ToolTipSkillFlagged')}}"><i class="fa-solid fa-circle-check"></i></a>
                {{else}}
                  <a class="item-control development-flag" data-tooltip="{{localize 'CoC7.ToolTipSkillFlagToggle' status=(localize 'CoC7.ToolTipSkillUnflagged')}}"><i class="fa-light fa-circle"></i></a>
                {{/if}}
              {{/unless}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
    <div class="other-block flexcol">
      <div class="weapons-block flexcol">
        {{#each topWeapons as |weapon|}}
          <div class="item flexrow" data-item-uuid="{{weapon.uuid}}">
            <div class="item-image" style="background-image: url('{{weapon.img}}')"></div>
            <div class="weapon-name combat{{#if weapon.system.isSkillSet}} rollable{{else}} clickable item-edit no-skill-set{{/if}} flexrow">
              <div class="name">
                {{weapon.name}}
              </div>
              {{#if weapon.system.properties.rngd}}
                {{#if weapon.usesAlternateSkill}}
                  <div class="icon combat alternative-skill"><i class="game-icon game-icon-machine-gun-magazine"></i></div>
                {{/if}}
              {{else}}
                {{#if weapon.system.properties.thrown}}
                  <div class="icon combat alternative-skill"><i class="game-icon game-icon-thrown-knife"></i></div>
                {{/if}}
              {{/if}}
            </div>
            <div class="item-damage">{{weapon.system.range.normal.damage}}</div>
            <div class="item-controls">
              {{#if weapon.system.properties.rngd}}
                <div class="ammo">
                  <span class="tag">{{weapon.system.ammo}}</span>
                </div>
                <div class="control">
                  <a class="reload-weapon" data-tooltip="CoC7.Reload"><i class="game-icon game-icon-chaingun"></i></a>
                </div>
              {{else}}
                {{#if weapon.system.properties.addb}}<span class="tag">{{localize 'CoC7.WeaponAddb'}}</span>{{/if}}
                {{#if weapon.system.properties.ahdb}}<span class="tag">{{localize 'CoC7.WeaponAhdb'}}</span>{{/if}}
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
      <div class="character-detail attribute">
        <div class="title attribute-label">{{localize 'CoC7.MonetarySpendingLevel'}}</div>
        {{#if document.system.flags.manualCredit}}
          <input class="detail-value" type="text" name="system.monetary.spendingLevel" value="{{document.system.monetary.spendingLevel}}">
        {{else}}
          <span class="detail-value">{{monetary.spendingLevel}}</span>
        {{/if}}
      </div>
      <div class="character-detail attribute">
        <div class="title attribute-label">{{localize 'CoC7.MonetaryCash'}}</div>
        {{#if document.system.flags.manualCredit}}
          <input class="detail-value" type="text" name="system.monetary.cash" value="{{document.system.monetary.cash}}">
        {{else}}
          <span class="detail-value">{{monetary.cash}}</span>
        {{/if}}
        <div class="title attribute-label">{{localize 'CoC7.MonetarySpent'}}</div>
        <input class="detail-value" type="text" name="system.monetary.spent" value="{{document.system.monetary.spent}}">
      </div>

    </div>
  </div>
</div>