<div class="floating-left">
  {{#unless data.system.flags.locked}}
    <a class="add-item" data-type="skill" title='{{localize "CoC7.AddSkill"}}'><i class="fas fa-plus"></i></a>
  {{/unless}}
  <a class="toggle-list-mode" title='{{#if skillListModeValue}}{{localize "CoC7.SortBySkillName"}}{{else}}{{localize "CoC7.SortBySkillValue"}}{{/if}}'><i class="fas {{#if skillListModeValue}}fa-sort-alpha-down{{else}}fa-sort-amount-down{{/if}}"></i></a>
  <a class="toggle-uncommon-mode" title='{{#if skillShowUncommon}}{{localize "CoC7.UncommonSkillsShow"}}{{else}}{{localize "CoC7.UncommonSkillsHide"}}{{/if}}'><i class="fas {{#if skillShowUncommon}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
</div>
{{#if skillListEmpty}}
  <h3 class="warning">{{localize 'CoC7.EmptyCharacterSkillList'}}</h3>
{{/if}}

<ol class="item-list">
  {{#if skillListModeValue}}
    {{#each skillsByValue as |skill|}}
      <li class="item itemV2" data-skill-id="{{skill._id}}" data-item-id="{{skill._id}}" data-context-menu="skill-roll" data-target-type="skill">
        <div class="item-image" style="background-image: url('{{skill.img}}')"></div>
        {{#if ../data.system.flags.locked}}
          <div class="item-name skill-name rollable" title="{{skill.name}}">{{skill.name}}</div>
          <div class="item-score">{{skill.system.value}}</div>
          <div class="item-controls">
            {{#unless skill.system.properties.noxpgain}}
              {{#if skill.system.flags.developement}}
                <a class="item-control development-flag active" title="{{localize 'CoC7.SkillUnflagForDevelopement'}}"><i class="fas fa-certificate"></i></a>
              {{else}}
                <a class="item-control development-flag" title="{{localize 'CoC7.SkillFlagForDevelopement'}}"><i class="fas fa-certificate"></i></a>
              {{/if}}
            {{/unless}}
            <a class="item-control item-popup" title="{{localize 'CoC7.SkillDetail'}}"><i class="fas fa-info-circle"></i></a>
          </div>
        {{else}}
          <div class="item-name">
            <input class="skill-name" type="text" value="{{skill.name}}" data-dtype="String">
          </div>
          <div class="item-score">
            <input class="npc-skill-score" type="text" value="{{skill.system.rawValue}}" data-dtype="Number">
          </div>
          <div class="item-controls">
            <a class="item-control item-edit" title="{{localize 'CoC7.EditSkill'}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{localize 'CoC7.DeleteSkill'}}"><i class="fas fa-trash"></i></a>
          </div>
        {{/if}}
      </li>
    {{/each}}
  {{else}}
    {{#each skillList as |skill|}}
      {{#if skill.isSpecialization}}
        <li class="specialization-header"> {{skill.name}} </li>
      {{else}}
        <li class="item itemV2 {{#if skill.system.properties.special}}specialization{{/if}}" data-skill-id="{{skill._id}}" data-item-id="{{skill._id}}" data-context-menu="skill-roll" data-target-type="skill">
          <div class="item-image" style="background-image: url('{{skill.img}}')"></div>
          {{#if ../data.system.flags.locked}}
            <div class="item-name skill-name rollable">{{skill.system.skillName}}</div>
            <div class="item-score">{{skill.system.value}}</div>
            <div class="item-controls">
              {{#unless skill.system.properties.noxpgain}}
                {{#if skill.system.flags.developement}}
                  <a class="item-control development-flag active"><i class="fas fa-certificate"></i></a>
                {{else}}
                  <a class="item-control development-flag"><i class="fas fa-certificate"></i></a>
                {{/if}}
              {{/unless}}
              <a class="item-control item-popup" title="{{localize 'CoC7.SkillDetail'}}"><i class="fas fa-info-circle"></i></a>
            </div>
          {{else}}
            <div class="item-name">
              <input class="skill-name" type="text" value="{{skill.system.skillName}}" data-dtype="String">
            </div>
            <div class="item-score">
              <input class="npc-skill-score" type="text" value="{{skill.system.rawValue}}" data-dtype="Number">
            </div>
            <div class="item-controls">
              <a class="item-control item-edit" title="{{localize 'CoC7.EditSkill'}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{localize 'CoC7.DeleteSkill'}}"><i class="fas fa-trash"></i></a>
            </div>
          {{/if}}
        </li>
      {{/if}}
    {{/each}}
  {{/if}}
</ol>