<section class="tab skills scrollable {{tabs.skills.cssClass}}" data-group="primary" data-tab="skills">
  <div class="floating-left">
    {{#unless document.system.flags.locked}}
      <a class="item-control" data-action="item-add" data-type="skill" data-tooltip="CoC7.AddSkill"><i class="fa-regular fa-plus-circle"></i></a>
    {{/unless}}
    <a class="item-control" data-action="toggle-flag" data-toggle-flag="skillListMode" data-tooltip="{{#if skillListMode}}CoC7.SortBySkillName{{else}}CoC7.SortBySkillValue{{/if}}"><i class="fa-solid {{#if skillListMode}}fa-sort-alpha-down{{else}}fa-sort-amount-down{{/if}}"></i></a>
    <a class="item-control" data-action="toggle-flag" data-toggle-flag="skillShowUncommon" data-tooltip="{{#if skillShowUncommon}}CoC7.UncommonSkillsShow{{else}}CoC7.UncommonSkillsHide{{/if}}"><i class="fa-solid {{#if skillShowUncommon}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
  </div>
  {{#if skillListEmpty}}
    <h3 class="warning no-skills-warning">{{localize 'CoC7.EmptyCharacterSkillList'}}</h3>
  {{/if}}

  <ul class="item-list{{#if showPartValues}} show-part-values{{/if}}">
    {{#if skillListMode}}
      {{#each skillsByValue as |skill|}}
        <li class="item itemV2 skill" data-item-uuid="{{skill.uuid}}">
          <div class="item-image" style="background-image: url('{{skill.img}}')"></div>
          {{#if ../document.system.flags.locked}}
            <div class="item-name skill-name rollable flex3" data-name-tooltip="{{skill.name}}" data-value-tooltip="{{skill.system.value}}">{{skill.name}}</div>
            <div class="skill-value item-score">{{skill.system.value}}</div>
            <div class="skill-calc">({{calcHard skill.system.value}}/{{calcExtreme skill.system.value}})</div>
            <div class="skill-icons flex2">
              {{#unless skill.system.properties.noxpgain}}
                {{#if skill.system.flags.developement}}
                  <a class="item-control development-flag active"><i class="fa-solid fa-circle-check"></i></a>
                {{else}}
                  <a class="item-control development-flag"><i class="fa-light fa-circle"></i></a>
                {{/if}}
              {{else}}
                <div class="hidden-icon"><i class="fa-solid fa-info-circle"></i></div>
              {{/unless}}
              <a class="item-control item-popup" data-tooltip="CoC7.SkillDetail"><i class="fa-solid fa-info-circle"></i></a>
            </div>
          {{else}}
            <div class="item-name">
              <input class="skill-name" type="text" value="{{#if skill.system.properties.special}}{{skill.system.skillName}}{{else}}{{skill.name}}{{/if}}">
            </div>
            <input class="npc-skill-score" type="text" value="{{skill.system.valueUnmodified}}">
            <div class="item-controls">
              <a class="item-control" data-action="item-edit" data-tooltip="CoC7.EditSkill"><i class="fa-solid fa-edit"></i></a>
              <a class="item-control" data-action="item-delete" data-tooltip="CoC7.DeleteSkill"><i class="fa-solid fa-trash"></i></a>
            </div>
          {{/if}}
        </li>
      {{/each}}
    {{else}}
      {{#each skillList as |skill|}}
        {{#if skill.isSpecialization}}
          <li class="specialization-header">{{skill.name}} </li>
        {{else}}
          <li class="item itemV2 skill {{#if skill.system.properties.special}}specialization{{/if}}" data-item-uuid="{{skill.uuid}}">
            <div class="item-image" style="background-image: url('{{skill.img}}')"></div>
            {{#if ../document.system.flags.locked}}
              <div class="item-name skill-name rollable flex1" data-name-tooltip="{{skill.name}}" data-value-tooltip="{{skill.system.value}}">{{#if skill.system.properties.special}}{{skill.system.skillName}}{{else}}{{skill.name}}{{/if}}</div>
              <div class="skill-value item-score">{{skill.system.value}}</div>
              <div class="skill-calc">({{calcHard skill.system.value}}/{{calcExtreme skill.system.value}})</div>
              <div class="skill-icons">
                {{#unless skill.system.properties.noxpgain}}
                  {{#if skill.system.flags.developement}}
                    <a class="item-control development-flag active" data-tooltip="{{localize 'CoC7.ToolTipSkillFlagToggle' status=(localize 'CoC7.ToolTipSkillFlagged')}}"><i class="fa-solid fa-circle-check"></i></a>
                  {{else}}
                    <a class="item-control development-flag" data-tooltip="{{localize 'CoC7.ToolTipSkillFlagToggle' status=(localize 'CoC7.ToolTipSkillUnflagged')}}"><i class="fa-light fa-circle"></i></a>
                  {{/if}}
                {{else}}
                  <div class="hidden-icon"><i class="fa-solid fa-info-circle"></i></div>
                {{/unless}}
                <a class="item-control item-popup" data-tooltip="CoC7.SkillDetail"><i class="fa-solid fa-info-circle"></i></a>
              </div>
            {{else}}
              <div class="item-name">
                <input class="skill-name" type="text" value="{{#if skill.system.properties.special}}{{skill.system.skillName}}{{else}}{{skill.name}}{{/if}}">
              </div>
              <input class="npc-skill-score" type="text" value="{{skill.system.valueUnmodified}}">
              <div class="item-controls">
                <a class="item-control" data-action="item-edit" data-tooltip="CoC7.EditSkill"><i class="fa-solid fa-edit"></i></a>
                <a class="item-control" data-action="item-delete" data-tooltip="CoC7.DeleteSkill"><i class="fa-solid fa-trash"></i></a>
              </div>
            {{/if}}
          </li>
        {{/if}}
      {{/each}}
    {{/if}}
  </ul>
</section>