<div class="panel flexcol">
  <h1>{{localize 'CoC7.InvestigatorWizard.TitleOccupationSkills'}}</h1>
  <div class="scroll-section">
    <div class="form-group">{{localize 'CoC7.InvestigatorWizard.OccupationDefaultSkills' count=default}}</div>
    <div class="skills flexcol">
      {{#each skillItems as |skill|}}
        {{#if (eq skill.group 'default')}}
          {{> 'systems/CoC7/templates/apps/investigator-wizard/toggle-skill.hbs' skill=skill toggleKey='occupationToggle'}}
        {{/if}}
      {{/each}}
    </div>
    {{#each coc7Config.occupationGroups as |count index|}}
      <div class="form-group">&nbsp;</div>
      <div class="form-group">{{localize 'CoC7.InvestigatorWizard.OccupationPickThisMany' count=count}}</div>
      <div class="skills flexcol">
        {{#each ../skillItems as |skill|}}
          {{#if (eq skill.group index)}}
            {{> 'systems/CoC7/templates/apps/investigator-wizard/toggle-skill.hbs' skill=skill toggleKey='occupationToggle'}}
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
    <div class="form-group">&nbsp;</div>
    <div class="form-group">{{#if coc7Config.personalText}}{{coc7Config.personal}} {{coc7Config.personalText}}{{else}}{{localize 'CoC7.InvestigatorWizard.OccupationPickThisMany' count=coc7Config.personal}}{{/if}}</div>
    <div class="skills flexcol">
      {{#each skillItems as |skill|}}
        {{#if (eq skill.group 'other')}}
          {{> 'systems/CoC7/templates/apps/investigator-wizard/toggle-skill.hbs' skill=skill toggleKey='occupationToggle'}}
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="status-block">
    <div class="form-group status flexrow">
      <div class="icon">{{#if (eq selected max)}}<i class="fa-solid fa-circle-check"></i>{{else}}<i class="fa-solid fa-circle-xmark"></i>{{/if}}</div>
      <div>{{localize 'CoC7.InvestigatorWizard.SkillSpendOccupationCountIncorrect' count=selected max=max}}</div>
    </div>
  </div>
</div>