<li class="actor-roll{{#if rollStatus.isWinner}} won{{/if}}{{#if rollStatus.isTie}} tie{{/if}}{{#if rollStatus.isAttacker}} attacker{{/if}}">
  <img class="open-actor" src="{{roll.portrait}}" title="{{roll.actor.name}}" />
  <div class="roll-details">
    <div class="header">
      <div class="name">
        <span class="tag">{{rollStatus.shortName}}</span>
        {{#each rollStatus.tags}}
        <span class="tag">{{this}}</span>
        {{/each}}
        {{#if (and parent.isCombat rollStatus.isManeuver)}}
          <span class='tag'>{{localize 'CoC7.WeaponProperyManeuver'}} ({{localize 'CoC7.Build'}}: {{#if roll.actor.build}}{{roll.actor.build}}{{else}}0{{/if}})</span>
        {{/if}}
      </div>
      {{!-- #if parent.isEditable}} Disable until the ability to replace removed rolls exists
      <a class="visible-only-gm" data-action="remove-roll" data-which="{{which}}" title="{{localize 'CoC7.remove'}}"><i class="far fa-times-circle"></i></a>
      {{/if --}}
    </div>
    {{~> 'systems/CoC7/templates/chat/messages/roll-dice.hbs'}}
  </div>
</li>