{{#if (eq data.checks.attack.state card.rollStates.notRequested)}}
  <div class="section-row tooltipster-active {{#unless data.flags.allowLuck}}striked{{/unless}}" data-description="oC7.Card.MeleeAttack.Hint.AllowLuck">
    <div class="flex1"><span class="flex1">{{localize 'CoC7.AllowLuck'}}</span></div>
    <div class="flex0">
      <label class="toggle flex0">
        <input type="checkbox" data-flag="allowLuck">
        <span class="slider"></span>
      </label>
    </div>
  </div>
  <div class="section-row tooltipster-active {{#unless data.flags.overrideRules}}striked{{/unless}}" data-description="CoC7.Hint.OverrideRules">
    {{!-- <input type="checkbox" class="ecc-switch toggle-switch" data-flag="overrideRules"/> --}}
    <div class="flex1"><span class="flex1">{{localize 'CoC7.OverrideCalc'}}</span></div>
    <div class="flex0">
      <label class="toggle flex0">
        <input type="checkbox" data-flag="overrideRules">
        <span class="slider"></span>
      </label>
    </div>
  </div>
  {{#if data.flags.overrideRules}}
  <div class="bonus-selection flexrow">
    <label class="flex1">{{localize 'CoC7.SelectBonus'}} :</label>
    <div class="flexcol flex2">
        <div class="flexrow">
        <div class="flexno">-2</div>
        <div class="flex1"></div>
        <div class="flexno">-1</div>
        <div class="flex1"></div>
        <div class="flexno">0</div>
        <div class="flex1"></div>
        <div class="flexno">+1</div>
        <div class="flex1"></div>
        <div class="flexno">+2</div>
      </div>
      <input class="slider" data-description="CoC7.Hint.BonusDice" type="range" name="data.bonusDice" min="-2" max="2" value="{{data.bonusDice}}">
    </div>
  </div>
  {{else}}
  <div class="section-row tooltipster-active {{#unless data.flags.outnumbered}}striked{{/unless}}" data-description="CoC7.Hint.Outnumbered">
    <div class="flex1"><span class="flex1">{{localize 'CoC7.OutNumbered'}}</span></div>
    <div class="flex0">
      <label class="toggle flex0">
        <input type="checkbox" data-flag="outnumbered">
        <span class="slider"></span>
      </label>
    </div>
  </div>
  <div class="section-row tooltipster-active tooltipstered  {{#unless data.flags.surprised}}striked{{/unless}} {{#if (and data.flags.surprised card.surpriseResolved)}}inactive{{/if}}" data-description="CoC7.Hint.Surprised">
    <div class="flex1"><span class="flex1">{{localize 'CoC7.combatCard.surprised'}}</span></div>
    <div class="flex0">
      <label class="toggle flex0">
        <input class="{{#if (and data.flags.surprised card.surpriseResolved)}}inactive{{/if}}" type="checkbox" data-flag="surprised">
        <span class="slider"></span>
      </label>
    </div>
  </div>
    {{#if data.flags.surprised}}
      {{#if (and card.hasTaget (lt data.checks.detection.state card.rollStates.requested))}}
      <div class="section-row tooltipster-active {{#unless data.flags.canDetect}}striked{{/unless}}" data-description="CoC7.Hint.CanDetect">
      <div class="flex1"><span class="flex1">{{localize 'CoC7.CanDetect'}}</span></div>
      <div class="flex0">
        <label class="toggle flex0">
          <input type="checkbox" data-flag="canDetect">
          <span class="slider"></span>
        </label>
      </div>
      </div>
      {{/if}}
      {{#if (and (not (eq data.checks.detection.state card.rollStates.closed)) (not data.flags.canDetect))}}
      <div class="section-row suprised-options ecc-radio radio-switches">
        <span class="flex1 toggle-switch ecc-switch tooltipster-active" data-description="CoC7.Hint.AutoHit" data-flag="autoHit">{{localize 'CoC7.combatCard.automaticSuccess'}}</span>
        <span class="flex1 toggle-switch ecc-switch tooltipster-active" data-description="CoC7.Hint.SuprisedBonusDice" data-flag="suprisedBonusDice">{{localize 'CoC7.Advantage'}}</span>
      </div>
      <div class="card-buttons">
        <button data-action="resolveSurpriseAttack">{{ localize 'CoC7.CloseSurpriseAttack' }}</button>
      </div>
      {{/if}}
      {{#if (and data.flags.canDetect (lt data.checks.detection.state card.rollStates.requested))}}
        {{#if card.attackIsRollingForSurprise}}
          <div class="flexrow detection-check-select">
            <label>Choose skill</label>
            <input type="text" name="data.checks.detection.name" value="{{data.checks.detection.name}}" list="attacker-check-options-{{card.messageId}}" placeholder="{{ localize 'CoC7.SelectSkill' }}" />
          </div>
          <div class="flexrow">
            <label class="flex1">Select difficulty</label>
            <div class="flexcol flex2">
              <div class="flexrow">
                <div class="flexno">{{ localize 'CoC7.RollDifficultyRegular'}}</div>
                <div class="flex1"></div>
                <div class="flexno">{{ localize 'CoC7.RollDifficultyHard'}}</div>
                <div class="flex1"></div>
                <div class="flexno">{{ localize 'CoC7.RollDifficultyExtreme'}}</div>
              </div>
              <input class="slider" data-description="CoC7.Hint.SelectDifficulty" type="range" name="data.checks.detection.difficulty" min="1" max="3" value="{{data.checks.detection.difficulty}}">
            </div>
          </div>
        {{else}}
          <div class="flexrow detection-check-select">
            <input type="text" name="data.checks.detection.name" value="{{data.checks.detection.name}}" list="defender-check-options-{{card.messageId}}" placeholder="{{ localize 'CoC7.SelectSkill' }}" />
          </div>
          <div class="flexrow">
            <label>{{ localize 'CoC7.SelectDifficulty'}}</label>
            <div class="flexcol">
              <div class="flexrow">
                <div class="flexno">{{ localize 'CoC7.RollDifficultyRegular'}}</div>
                <div class="flex1"></div>
                <div class="flexno">{{ localize 'CoC7.RollDifficultyHard'}}</div>
                <div class="flex1"></div>
                <div class="flexno">{{ localize 'CoC7.RollDifficultyExtreme'}}</div>
              </div>
              <input class="slider" data-description="CoC7.Hint.SelectDifficulty" type="range" name="data.checks.detection.difficulty" min="1" max="3" value="{{data.checks.detection.difficulty}}">
            </div>
          </div>
        {{/if}}
        {{#if card.hasValidDetectionCheck}}
          <div class="card-buttons">
            <button data-action="validateDetectionCheck">{{ localize 'CoC7.ValidateCheck' }}</button>
          </div>
        {{/if}}
      {{/if}}
      {{#if (gte data.checks.detection.state card.rollStates.rolled)}}
        {{#if (eq data.checks.detection.state card.rollStates.rolled)}}
          {{#if card.attackIsRollingForSurprise}}
            {{#if data.checks.detection.roll.passed}}
              <div class="flexrow suprised-options ecc-radio radio-switches">
                <span class="flex1 toggle-switch ecc-switch tooltipster-active" data-description="CoC7.Hint.AutoHit" data-flag="autoHit">{{localize 'CoC7.combatCard.automaticSuccess'}}</span>
                <span class="flex1 toggle-switch ecc-switch tooltipster-active" data-description="CoC7.Hint.SuprisedBonusDice" data-flag="suprisedBonusDice">{{localize 'CoC7.Advantage'}}</span>
              </div>
            {{else}}
            {{/if}}
          {{else}}
            {{#if (not data.checks.detection.roll.passed)}}
              <div class="flexrow suprised-options ecc-radio radio-switches">
                <span class="flex1 toggle-switch ecc-switch tooltipster-active" data-description="CoC7.Hint.AutoHit" data-flag="autoHit">{{localize 'CoC7.combatCard.automaticSuccess'}}</span>
                <span class="flex1 toggle-switch ecc-switch tooltipster-active" data-description="CoC7.Hint.SuprisedBonusDice" data-flag="suprisedBonusDice">{{localize 'CoC7.Advantage'}}</span>
              </div>
            {{/if}}          
          {{/if}}
          {{#unless (eq data.checks.detection.state card.rollStates.closed)}}
          <div class="card-buttons">
            <button data-action="resolveSurpriseAttack">{{ localize 'CoC7.CloseSurpriseAttack' }}</button>
          </div>
          {{/unless}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
{{#if (and (eq data.checks.attack.state card.rollStates.notRequested) card.surpriseResolved)}}
<div class="card-buttons">
  <button data-action="requestDefense">{{ localize 'CoC7.RequestDefense' }}</button>
</div>
{{/if}}
{{#if card.checksRolled}}
  {{#if (not card.checksClosed)}}
    <div class="card-buttons">
      <button data-action="resolveCard">{{ localize 'CoC7.LockAllRolls' }}</button>
    </div>
  {{/if}}
{{/if}}


