<div class="flexcol">
  <div class="flexrow item-header">
    <div class="flexcol item-property">
      <div class="flexrow">
        <input type="text" name="name" value="{{document.name}}" placeholder="{{localize 'CoC7.Name'}}" />
      </div>
      {{#if (or isKeeper initialReading)}}
        <div class="flexrow">
          <label>{{localize 'CoC7.Author'}}:</label>
          <input type="text" name="system.author" value="{{document.system.author}}" />
        </div>
        <div class="flexrow">
          <label>{{localize 'CoC7.Date'}}:</label>
          <input type="text" name="system.date" value="{{document.system.date}}" />
        </div>
        <div class="flexrow">
          <label>{{localize 'CoC7.language'}}:</label>
          <input type="text" name="system.language" value="{{document.system.language}}" />
        </div>
      {{/if}}
    </div>
    <div class="spell-casting flexcol">
      {{#if initialReading}}
        <div class="flexrow">
          <label>{{localize 'CoC7.InitialReading'}}</label>
          <label><i class="fa-solid fa-check"></i></label>
        </div>
        <div class="flexrow">
          <label>{{localize 'CoC7.FullStudies'}}:</label>
          <label>{{fullStudies}}</label>
          {{#if (and studyCompleted (not exhausted))}}
            <a class="item-control" data-action="redo-full-study" data-tooltip="CoC7.RedoFullStudy"><i class="fa-solid fa-redo"></i></a>
          {{/if}}
        </div>
        {{#if (gt document.system.mythosRating 0)}}
          <div class="flexrow">
            <button class="item-control" data-action="attemptReference">{{localize 'CoC7.ReferenceTome'}}</button>
          </div>
        {{/if}}
      {{else if (and isEmbedded (or isKeeper isOwner))}}
        <button class="item-control" data-action="attemptInitialReading">{{localize 'CoC7.InitialReading'}}</button>
      {{/if}}
    </div>
    <img class="profile-img" src="{{document.img}}" data-action="editImage" data-edit="img" />
  </div>
  <div class="spell-progress flexrow">
    {{#if (and mythos (or isKeeper initialReading) isEmbedded)}}
      {{#if (and isKeeper (not exhausted))}}
        <a class="item-control" data-action="decrease-progress"><i class="fa-regular fa-minus-circle"></i></a>
      {{/if}}
      <progress name="system.study.progress" value="{{progress}}" max="{{necessary}}" {{#unless exhausted}} data-label="{{localize 'CoC7.Progress'}}: {{progress}} / {{necessary}} {{localize units}}"{{/unless}}></progress>
      {{#if (and isKeeper (not exhausted))}}
        <a class="item-control" data-action="increase-progress"><i class="fa-regular fa-plus-circle"></i></a>
      {{/if}}
    {{else}}
      &nbsp;
    {{/if}}
  </div>
</div>