<div class="flexrow item-header">
  <div class="flexcol item-property">
    <div class="flexrow">
      <input class="large" type="text" name="name" value="{{document.name}}" placeholder="{{localize 'CoC7.Name'}}" />
    </div>
    <div class="flexrow">
      <input type="text" name="system.source" value="{{document.system.source}}" placeholder="{{localize 'CoC7.Source'}}" />
      <input type="text" {{#unless document.isEmbedded}}class="text-only" {{/unless}} value="{{occupationPointsString}}" readonly="readonly" />
    </div>
  </div>
  <img class="profile-img small" src="{{document.img}}" data-action="editImage" data-edit="img" />
</div>