<section class="tab details flexcol scrollable {{tab.cssClass}}" data-group="primary" data-tab="details">
  {{#if tabs.details}}
    <fieldset class="flexcol">
      <div class="form-group toggle-row flexrow">
        <label>{{localize 'CoC7.Characteristics'}}</label>
        <div class="toggle-attributes flexrow" data-set="" style="justify-content: center;">
          <button class="toggle-switch{{#if document.system.enableCharacterisitics}} switched-on{{/if}}" data-property="enableCharacterisitics" type="button">{{localize 'CoC7.EnableCharacteristics'}}</button>
        </div>
      </div>
    </fieldset>
    <fieldset class="flexrow">
      <legend>{{localize 'CoC7.Eras'}}</legend>
      <div class="toggle-row flexrow">
        <div class="toggle-attributes flexrow" data-set="eras">
          {{#each _eras as |row|}}
            <button class="toggle-switch{{#if ../useEraIcons}} as-icon{{/if}}{{#if row.isEnabled}} switched-on{{/if}}" data-property="{{row.id}}" type="button"{{#if ../useEraIcons}} data-tooltip="{{row.name}}"{{/if}}>{{#if ../useEraIcons}}<i class="{{row.icon}}"></i>{{else}}{{row.name}}{{/if}}</button>
          {{/each}}
        </div>
      </div>
    </fieldset>
    <fieldset class="flexcol">
      <legend>{{localize 'CoC7.MonetaryTitle'}}</legend>
      <div class="form-group flexrow">
        <label>{{localize 'CoC7.MonetaryFormatTitle'}}</label>
        <select name="system.monetary.format">
          {{selectOptions _monetaryFormats selected=document.system.monetary.format localize=true valueAttr='key' labelAttr='val'}}
        </select>
      </div>
      {{#if showCurrencySymbol}}
        <div class="form-group flexrow">
          <label>{{localize 'CoC7.MonetarySymbol'}}</label>
          <input type="text" name="system.monetary.symbol" value="{{document.system.monetary.symbol}}">
        </div>
      {{/if}}
      <div class="flexrow">
        <label></label>
        <div class="item-controls">
          <a class="item-control" data-action="monetary-add"><i class="fa-regular fa-plus-circle"></i></a>
        </div>
      </div>
      {{#each monetary as |value index|}}
        <div class="form-group flexrow tiny-monetary" data-index="{{index}}">
          <input name="system.monetary.values.{{index}}.name" value="{{localize value.name}}" type="text" placeholder="{{localize 'CoC7.Name'}}">
          <input name="system.monetary.values.{{index}}.min" value="{{value.min}}" class="cash-assets-range" type="number" placeholder="{{localize 'CoC7.MonetaryCreditRatingMin'}}">
          <input name="system.monetary.values.{{index}}.max" value="{{value.max}}" class="cash-assets-range" type="number" placeholder="{{localize 'CoC7.MonetaryCreditRatingMax'}}" readonly="readonly">
          <select name="system.monetary.values.{{index}}.cashType" class="cash-assets-type">
            {{selectOptions ../_monetaryTypes selected=value.cashType localize=true valueAttr='key' labelAttr='val'}}
          </select>
          <input name="system.monetary.values.{{index}}.cashValue" value="{{value.cashValue}}" type="number" placeholder="{{localize 'CoC7.MonetaryValueCash'}}">
          <select name="system.monetary.values.{{index}}.assetsType" class="cash-assets-type">
            {{selectOptions ../_monetaryTypes selected=value.assetsType localize=true valueAttr='key' labelAttr='val'}}
          </select>
          <input name="system.monetary.values.{{index}}.assetsValue" value="{{value.assetsValue}}" type="number" placeholder="{{localize 'CoC7.MonetaryValueAssets'}}">
          <select name="system.monetary.values.{{index}}.spendingType" class="cash-assets-type">
            {{selectOptions ../_monetaryTypes selected=value.spendingType localize=true valueAttr='key' labelAttr='val'}}
          </select>
          <input name="system.monetary.values.{{index}}.spendingValue" value="{{value.spendingValue}}" type="number" placeholder="{{localize 'CoC7.MonetaryValueSpendingLevel'}}">
          <div class="item-controls">
            <a class="item-control" data-action="monetary-remove"><i class="fa-regular fa-minus-circle"></i></a>
          </div>
        </div>
      {{/each}}
    </fieldset>
    {{#if oneBlockBackStory}}
      <fieldset class="flexcol" style="flex: 1">
        <legend>{{localize 'CoC7.Background'}}</legend>
        <prose-mirror name="system.backstory" value="{{document.system.backstory}}" data-document-uuid="{{document.uuid}}" toggled>{{{enrichedBackstory}}}</prose-mirror>
      </fieldset>
    {{else}}
      <fieldset class="flexcol">
        <legend>{{localize 'CoC7.BioSections'}}</legend>
        <div class="flexrow">
          <label></label>
          <div class="item-controls">
            <a class="item-control" data-action="biography-add"><i class="fa-regular fa-plus-circle"></i></a>
          </div>
        </div>
        {{#each bioSections as |value index|}}
          <div class="bio-section flexrow" data-index="{{index}}">
            <input type="text" name="system.bioSections.{{index}}" value="{{localize value.title}}" placeholder="{{localize 'CoC7.BioSectionName'}}" />
            <div class="item-controls">
              <a class="item-control{{#if value.isFirst}} item-control-disabled{{/if}}" {{#unless value.isFirst}}data-action="biography-move-down" {{/unless}} data-tooltip="CoC7.BackgroundSectionMoveUp"><i class="fa-solid fa-caret-up"></i></a>
              <a class="item-control{{#if value.isLast}} item-control-disabled{{/if}}" {{#unless value.isLast}}data-action="biography-move-up" {{/unless}} data-tooltip="CoC7.BackgroundSectionMoveDown"><i class="fa-solid fa-caret-down"></i></a>
              <a class="item-control" data-action="biography-remove" data-tooltip="CoC7.BackgroundDeleteSection"><i class="fa-regular fa-minus-circle"></i></a>
            </div>
          </div>
        {{/each}}
      </fieldset>
    {{/if}}
    <fieldset class="flexcol drop-item" style="flex: 1">
      <legend>{{localize 'CoC7.Items'}}</legend>
      <div class="item-list flexcol">
        {{#if itemsListEmpty}}
          <div class="item flexcol">
            <label>{{localize 'CoC7.EmptyItemList'}}</label>
          </div>
        {{else}}
          {{#each otherItems as |item|}}
            <div class="item flexrow" data-uuid="{{item.uuid}}" data-id="{{item._id}}" data-cocid="{{item.flags.CoC7.cocidFlag.id}}">
              <div class="summary">{{item.name}} ({{item.type}})</div>
              <div class="item-controls">
                <a class="item-control" data-action="item-delete" data-tooltip="CoC7.DeleteItem"><i class="fa-solid fa-trash"></i></a>
              </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </fieldset>
  {{/if}}
</section>