<div class="flexcol item-header">
  <div class="flexrow item-subheader">
    <div class="flexcol item-property">
      <div class="flexrow">
        <input type="hidden" name="name" value="{{document.name}}" />
        {{#if isSpecialized}}
          <input type="text" name="system.skillName" value="{{document.system.skillName}}" placeholder="{{localize 'CoC7.Name'}}" />
          <span class="separator">/</span>
          {{#if canModifySpec}}
            <input type="text" name="system.specialization" value="{{document.system.specialization}}" placeholder="{{localize 'CoC7.SkillSpecial'}}" />
          {{else}}
            <div>{{document.system.specialization}}</div>
          {{/if}}
        {{else}}
          <input type="text" name="system.skillName" value="{{document.system.skillName}}" placeholder="{{localize 'CoC7.Name'}}" style="flex: 2" />
        {{/if}}
        {{#if hasNonCharacterOwner}}
          <label>{{localize 'CoC7.Value'}}</label>
          <input type="text" name="system.value" value="{{document.system.value}}" />
        {{else}}
          <label>{{localize 'CoC7.SkillBase'}}</label>
          <input type="text" name="system.base" value="{{document.system.base}}" />
        {{/if}}
      </div>
      <div class="toggle-row flexrow">
        <div class="toggle-attributes flexrow" data-set="properties">
          {{#each _properties as |row|}}
            <button class="toggle-switch{{#if row.isEnabled}} switched-on{{/if}}" data-property="{{row.id}}" {{#if row.tooltip}}data-tooltip="{{row.tooltip}}" {{/if}} type="button">{{localize row.name}}</button>
          {{/each}}
        </div>
      </div>
    </div>
    <img class="profile-img" src="{{document.img}}" data-action="editImage" data-edit="img" />
  </div>
  {{#unless document.isEmbedded}}
    <div class="form-gapped toggle-row flexrow">
      <label>{{localize 'CoC7.Eras'}}</label>
      <div class="toggle-attributes flexrow" data-set="eras">
        {{#each _eras as |row|}}
          <button class="toggle-switch{{#if ../useEraIcons}} as-icon{{/if}}{{#if row.isEnabled}} switched-on{{/if}}" data-property="{{row.id}}" type="button"{{#if ../useEraIcons}} data-tooltip="{{row.name}}"{{/if}}>{{#if ../useEraIcons}}<i class="{{row.icon}}"></i>{{else}}{{row.name}}{{/if}}</button>
        {{/each}}
      </div>
    </div>
  {{/unless}}
</div>