<div class="coc7 chat-card chat-card-v2">

  <datalist id="attacker-check-options-{{card.messageId}}">
    {{#each card.attacker.skillsList as |s|}}
      <option>{{s}}</option>
    {{/each}}
    {{#each card.attacker.characteristicsList as |c|}}
      <option>{{c}}</option>
    {{/each}}
    {{#each card.attacker.attributesList as |a|}}
      <option>{{a}}</option>
    {{/each}}
  </datalist>

  <datalist id="defender-check-options-{{card.messageId}}">
    {{#if card.hasTaget}}
      {{#each card.defender.skillsList as |s|}}
        <option>{{s}}</option>
      {{/each}}
      {{#each card.defender.characteristicsList as |c|}}
        <option>{{c}}</option>
      {{/each}}
      {{#each card.defender.attributesList as |a|}}
        <option>{{a}}</option>
      {{/each}}
    {{/if}}
  </datalist>
    
  <form class="flexcol">
    <div class="card-header">
      <div class="left-portrait">
      {{#if displayActorOnCard}}
        <img class="portrait open-actor" data-actor-key="{{card.attacker.uuid}}" src="{{card.attacker.img}}" title="{{card.attacker.name}}"/>
      {{else}}
        <img class="portrait open-actor" data-actor-key="{{card.attacker.uuid}}" src="{{card.attackerWeapon.img}}" title="{{card.attackerWeapon.name}}"/>
      {{/if}}
      </div>
      <div class="card-title tooltipster-active" data-document-key="{{card.attackerWeapon.uuid}}">
        {{card.attackerWeapon.name}}
      </div>
      {{#if card.hasTaget}}
      <div class="right-portrait">
        <img class="portrait open-actor" data-actor-key="{{card.defender.uuid}}" src="{{card.defender.img}}" title="{{card.defender.name}}"/>
      </div> 
      {{/if}}
    </div>
    {{> "systems/CoC7/templates/chat/cards/parts/melee-attack-keeper.hbs"}}

    {{#if (and card.hasValidDetectionCheck  (gt data.checks.detection.state card.rollStates.notRequested) (not data.flags.overrideRules))}}
        {{> "systems/CoC7/templates/chat/cards/parts/melee-attack-surprise.hbs"}}
        ROLL REQUESTED
        --roll state: {{data.checks.detection.state}}
        --requested state:{{card.rollStates.requested}}
        --has valid:{{card.hasValidDetectionCheck}}
    {{/if}}

    {{> "systems/CoC7/templates/chat/cards/parts/melee-attack-attacker.hbs" }}

    {{> "systems/CoC7/templates/chat/cards/parts/melee-attack-defender.hbs" }}
    {{!-- <select name="data.mySelect">
      {{selectOptions mySelectOptions selected=data.mySelect}}
    </select>
    <select name="data.mySelect2" data-ecc-permissions="gm">
      {{#select data.mySelect2}}
        <option value="0">option 0</option>
        <option value="1">option 1</option>
        <option value="2">option 2</option>
      {{/select}}
    </select>

    <div title="CoC7.ActorIsSyntheticActor">
      <input type="radio" id="contactChoice1" name="data.contact" value="email">
      <label for="contactChoice1">Email</label>
      <input type="radio" id="contactChoice2" name="data.contact" value="phone">
      <label for="contactChoice2">Phone</label>
      <input type="radio" id="contactChoice3" name="data.contact" value="mail">
      <label for="contactChoice3">Mail</label>
    </div>


    <div class="flexrow ecc-radio">
      <span class="flex1 ecc-switch" data-flag="advantageAttacker"  title="CoC7.testMultiLine">{{localize 'CoC7.AdvantageAttacker'}}</span>
      <span class="flex1 ecc-switch" data-flag="advantageDefender"  title="Le titre !!!">{{localize 'CoC7.AdvantageDefender'}}</span>
    </div>

    <div>
      <span class="tooltipster-active" data-description="CoC7.testMultiLine"  title="Le titre !!!">Pouet pouet !!!</span>
      <span class="ecc-switch" data-flag="critical" data-ecc-visibility="gm speaker" title="{{localize 'CoC7.CriticalTitle'}}">azerazerazer</span>
      {{#if flags.critical}}
        <span> CRITICAL IS ON</span>
      {{/if}}
      <div class='card-buttons' data-ecc-visibility="blacklist gm">
        <button class='submit' data-action='trouloulou'>Submit</button>
      </div>
    </div> --}}
  </form>
</div>