<div class="coc7 chat-card chat-card-v2">

  <datalist id="attacker-check-options-{{card.messageId}}">
    {{#each card.attacker.skillsList as |s|}}
      <option>{{s}}</option>
    {{/each}}
    {{#each card.attacker.characteristicsList as |c|}}
      <option>{{c}}</option>
    {{/each}}
    {{#each card.attacker.attributesList as |a|}}
      <option>{{a}}</option>
    {{/each}}
  </datalist>

  <datalist id="defender-check-options-{{card.messageId}}">
    {{#if card.hasTaget}}
      {{#each card.defender.skillsList as |s|}}
        <option>{{s}}</option>
      {{/each}}
      {{#each card.defender.characteristicsList as |c|}}
        <option>{{c}}</option>
      {{/each}}
      {{#each card.defender.attributesList as |a|}}
        <option>{{a}}</option>
      {{/each}}
    {{/if}}
  </datalist>
    
  <form class="flexcol">
    <div class="card-header">
      <div class="left-portrait">
      {{#if displayActorOnCard}}
        <img class="portrait open-actor" data-actor-key="{{card.attacker.uuid}}" src="{{card.attacker.img}}" title="{{card.attacker.name}}"/>
      {{else}}
        <img class="portrait open-actor" data-actor-key="{{card.attacker.uuid}}" src="{{card.attackerWeapon.img}}" title="{{card.attackerWeapon.name}}"/>
      {{/if}}
      </div>
      <div class="card-title tooltipster-active" data-document-key="{{card.attackerWeapon.uuid}}">
        {{card.attackerWeapon.name}}
      </div>
      {{#if card.hasTaget}}
      <div class="right-portrait">
        <img class="portrait open-actor" data-actor-key="{{card.defender.uuid}}" src="{{card.defender.img}}" title="{{card.defender.name}}"/>
      </div> 
      {{/if}}
    </div>
    <div class="card-content">
      <div class="card-section keeper" data-ecc-visibility="gm">
        {{> "systems/CoC7/templates/chat/cards/parts/melee-attack-keeper.hbs"}}
      </div>
      <div class="card-section attacker">
        <div>
          <span>ATTACKER : {{card.attacker.name}}</span>
        </div>
        {{#if (and card.hasValidDetectionCheck card.attacker.hasPlayerOwner (gt data.checks.detection.state card.rollStates.notRequested) (not data.flags.overrideRules))}}
          {{> "systems/CoC7/templates/chat/cards/parts/melee-attack-surprise.hbs"}}
        {{/if}}
        {{> "systems/CoC7/templates/chat/cards/parts/melee-attack-attacker.hbs" }}
      </div>

      <div class="card-section defender">
        <div>
          <span>DEFENDER : {{card.defender.name}}</span>
        </div>
        {{#if (and card.hasValidDetectionCheck (not card.attacker.hasPlayerOwner)  (gt data.checks.detection.state card.rollStates.notRequested) (not data.flags.overrideRules))}}
          {{> "systems/CoC7/templates/chat/cards/parts/melee-attack-surprise.hbs"}}
        {{/if}}
        {{> "systems/CoC7/templates/chat/cards/parts/melee-attack-defender.hbs" }}
      </div>
    </div>

    <div class="card-footer" data-ecc-visibility="gm">
      {{#each card.statusList as |status|}}
      <div {{#if status.hint}}class="status tooltipster-active {{status.css}}" data-description={{status.hint}}{{else}}class="status {{status.css}}"{{/if}}>{{status.name}}</div>
      {{/each}}
    </div>
  </form>
</div>