<div class="flexcol narration">
  <span>{{ localize 'CoC7.YourUnderMeleeAttack' }}</span>
  {{#if data.flags.surprised}}
    {{#if card.defenderStartled}}
      {{#if data.flags.suprisedBonusDice}}<span>{{ localize 'CoC7.TakenBySurpriseAttackerBonus' }}</span>{{/if}}
      {{#if data.flags.autoHit}}<span>{{ localize 'CoC7.TakenBySurpriseNoResponse' }}</span>{{/if}}
    {{/if}}
  {{/if}}
  {{#if card.defenseChoosen}}<span>{{ card.strings.defenseChoice }}</span>{{/if}}
  {{#if card.checksRolled}}
    <span>{{ card.strings.defenseDetails }}{{#if card.checksClosed}} {{{htmlDefenseCheckInline}}}{{/if}}</span>
  {{/if}}
</div>
{{#if card.defenderCanRespond}}
  {{#if (eq data.checks.defense.state card.rollStates.requested)}}
    <div class="section-row radio-switches">
      {{#if card.defenderCanFightBack}}
        <div class="flex1 toggle-switch ecc-dropdown" data-name="data.checks.defense.name" data-flag="fightback">
          <span class="ecc-dropdown-button">{{localize 'CoC7.FightBack'}}</span>
          <div class="ecc-dropdown-content">
            {{#each card.defender.meleeWeapons as |weapon|}}
            <a class="ecc-dropdown-element" data-value="{{weapon.uuid}}">{{weapon.name}} ({{weapon.skills.main.shortName}}:{{weapon.skills.main.value}}%)</a>
            {{/each}}
          </div>
        </div>
      {{/if}}
      {{#if card.defenderCanManeuver}}
        <div class="flex1 toggle-switch ecc-dropdown" data-name="data.checks.defense.name" data-flag="maneuver">
          <span class="ecc-dropdown-button">{{localize 'CoC7.Maneuver'}}</span>
          <div class="ecc-dropdown-content">
            {{#each card.defender.meleeManeuvers as |maneuver|}}
            <a class="ecc-dropdown-element" data-value="{{maneuver.uuid}}">{{maneuver.shortName}} ({{maneuver.skills.main.value}}%)</a>
            {{/each}}
          </div>
        </div>
      {{/if}}
      {{#if card.defenderCanDodge}}
        <div class="flex1 toggle-switch ecc-switch" data-name="data.checks.defense.name" data-flag="dodge">
          <span class="">{{ localize 'CoC7.Dodge' }}</span>
        </div>
      {{/if}}
      <div class="flex1 toggle-switch ecc-switch" data-name="data.checks.defense.name" data-flag="doNothing">
        <span class="">{{ localize 'CoC7.NoResponse' }}</span>
      </div>
    </div>
    <div class="card-buttons">
      {{#if card.defenseChoosen}}
        {{#each card.defenseOptions as |d|}}
        <button data-action="lockDefenderResponse" {{#if d.altSkill}}data-alternative="true"{{/if}}>{{ d.name }}{{#if d.score}}: {{d.score}}%{{/if}}</button>
        {{/each}}
      {{/if}}
    </div>
  {{/if}}
  {{!-- DEBUG --}}
  {{#if (eq data.checks.defense.state card.rollStates.rolled)}}
  <div data-roll="defense">
    {{{htmlDefenseCheck}}}
  </div>
  <div class="card-buttons" data-ecc-visibility="gm">
    <button data-action="closeDefense">{{ localize 'CoC7.CloseDefense' }}</button>
  </div>
  {{/if}}
  {{!-- GUBED --}}
{{else}}
<span>{{ localize 'CoC7.DefenderCantRespond' }}</span>
{{/if}}