<div class="luck-group attribute flexcol" data-attrib="lck">
  <label class="attribute-name rollable" draggable="true" data-tooltip-key="lck">{{localize 'CoC7.Luck'}}</label>
  <input class="attribute-value{{#if attribs.lck.activeEffectValue}} modified-by-active-effect{{/if}}" type="text" value="{{attribs.lck.value}}" {{#if attribs.lck.activeEffectValue}} data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.attribs.lck.value" {{/if}} />
</div>

<div class="hp-group">
  <div class="hp-text attribute" data-attrib="hp">
    <label class="attribute-name{{#unless document.system.flags.locked}} clickable item-control{{/unless}}" {{#unless document.system.flags.locked}} data-action="auto-toggle" data-tooltip="CoC7.ToolTipAutoToggle" data-tooltip-class="coc7-wider-tooltip" data-tooltip-direction="UP" {{/unless}}>{{localize 'CoC7.HitPoints'}}</label>
    <div class="monitor hp-value flexrow">
      <div class="current-value">
        <input class="attribute-value{{#if attribs.hp.activeEffectValue}} modified-by-active-effect{{/if}}" type="text" value="{{attribs.hp.value}}" {{#if attribs.hp.activeEffectValue}} data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.attribs.hp.value" {{/if}} />
      </div>
      <div class="separator">/</div>
      <div class="max-value">
        <input class="attribute-max{{#if attribs.hp.activeEffectMax}} modified-by-active-effect{{/if}}" type="text" value="{{attribs.hp.max}}" {{#if attribs.hp.activeEffectMax}} data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else if (or document.system.flags.locked (not document.system.attribs.hp.auto))}}readonly{{else}} name="system.attribs.hp.max" {{/if}} />
      </div>
    </div>
    <div class="status">
      <a class="item-control {{#if document.system.conditions.prone.value}}status-on{{/if}}" data-tooltip="CoC7.Prone" data-action="condition" data-condition="prone"><i class="game-icon game-icon-falling"></i></a>
      <a class="item-control {{#if document.system.conditions.unconscious.value}}status-on{{/if}}" data-tooltip="CoC7.Unconsious" data-action="condition" data-condition="unconscious"><i class="game-icon game-icon-knocked-out-stars"></i></a>
      <a class="item-control {{#if document.system.conditions.criticalWounds.value}}status-on{{/if}}" data-tooltip="CoC7.CriticalWounds" data-action="condition" data-condition="criticalWounds"><i class="game-icon game-icon-arm-sling"></i></a>
      <a class="item-control {{#if document.system.conditions.dying.value}}status-on{{/if}}" data-tooltip="CoC7.Dying" data-action="condition" data-condition="dying"><i class="game-icon game-icon-heart-beats"></i></a>
    </div>

    <div class="status">
      {{#if document.system.conditions.dead.value}}
        <a class="item-control status-on" data-tooltip="CoC7.Dead" data-action="condition" data-condition="dead"><i class="game-icon game-icon-tombstone"></i></a>
      {{else}}
        <a class="{{#if document.system.conditions.dying.value}}item-control dying-check{{else}}inactive-status{{/if}}" data-action="dying-check" data-tooltip="{{#if document.system.conditions.dying.value}}CoC7.DyingCheck{{/if}}"><i class="game-icon game-icon-d10"></i></a>
      {{/if}}
    </div>
  </div>
</div>

<div class="san-group">
  <div class="san-text attribute" data-attrib="san">
    <label class="attribute-name{{#if document.system.flags.locked}} rollable{{else}} clickable item-control{{/if}}" draggable="true" {{#if document.system.flags.locked}} data-tooltip-key="san"{{else}} data-action="auto-toggle" data-tooltip="CoC7.ToolTipAutoToggle" data-tooltip-class="coc7-wider-tooltip" data-tooltip-direction="UP" {{/if}}>{{localize 'CoC7.Sanity'}}</label>
    <div class="monitor san-value flexrow">
      <div class="current-value">
        <input class="attribute-value{{#if attribs.san.activeEffectValue}} modified-by-active-effect{{/if}}" type="text" value="{{attribs.san.value}}" {{#if attribs.san.activeEffectValue}} data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.attribs.san.value" {{/if}} />
      </div>
      <div class="separator">/</div>
      <div class="max-value">
        <input class="attribute-max{{#if attribs.san.activeEffectMax}} modified-by-active-effect{{/if}}" type="text" value="{{attribs.san.max}}" {{#if attribs.san.activeEffectMax}} data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else if (or document.system.flags.locked (not document.system.attribs.san.auto))}}readonly{{else}} name="system.attribs.san.max" {{/if}} />
      </div>
    </div>
    <div>
      <label>{{localize 'CoC7.DailyLoss'}}: {{attribs.san.dailyLoss}}/{{attribs.san.dailyLimit}}</label>
    </div>
    <div class="status">
      <a class="item-control {{#if document.system.conditions.tempoInsane.value}}status-on{{/if}}" data-tooltip="{{localize 'CoC7.BoutOfMadness'}}{{#if actor.getTempoInsaneDurationText}}: {{actor.getTempoInsaneDurationText}}{{/if}}" data-action="condition" data-condition="tempoInsane"><i class="game-icon game-icon-hanging-spider"></i></a>
      <a class="item-control {{#if document.system.conditions.indefInsane.value}}status-on{{/if}}" data-tooltip="{{#if document.system.conditions.indefInsane.value}}CoC7.UnderlyingInsanity{{else}}CoC7.IndefiniteInsanity{{/if}}" data-action="condition" data-condition="indefInsane"><i class="game-icon game-icon-tentacles-skull"></i></a>
    </div>
    <div class="control">
      <a class="item-control" data-action="reset-counter" data-tooltip="CoC7.DailySanIconOver" data-counter="system.attribs.san.dailyLoss"><i class="fa-solid fa-undo"></i></a>
    </div>

  </div>
</div>

<div class="magic-group attribute" data-attrib="mp">
  <label class="attribute-name{{#unless document.system.flags.locked}} clickable item-control{{/unless}}" {{#unless document.system.flags.locked}} data-action="auto-toggle" data-tooltip="CoC7.ToolTipAutoToggle" data-tooltip-class="coc7-wider-tooltip" data-tooltip-direction="UP" {{/unless}}>{{localize 'CoC7.MagicPoints'}}</label>
  <div class="monitor mp-value flexrow">
    <div class="current-value">
      <input class="attribute-value{{#if attribs.mp.activeEffectValue}} modified-by-active-effect{{/if}}" type="text" value="{{attribs.mp.value}}" {{#if attribs.mp.activeEffectValue}} data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else}} name="system.attribs.mp.value" {{/if}} />
    </div>
    <div class="separator">/</div>
    <div class="max-value">
      <input class="attribute-max{{#if attribs.mp.activeEffectMax}} modified-by-active-effect{{/if}}" type="text" value="{{attribs.mp.max}}" {{#if attribs.mp.activeEffectMax}} data-tooltip="CoC7.ModifiedByActiveEffect" readonly{{else if (or document.system.flags.locked (not document.system.attribs.mp.auto))}}readonly{{else}} name="system.attribs.mp.max" {{/if}} />
    </div>
  </div>
</div>