<form class="{{cssClass}}" autocomplete="off">
  <h2>{{localize 'CoC7.CoCIDBatch.title'}}</h2>
  <p>{{{localize 'CoC7.CoCIDBatch.summary' type=object.typeName}}}</p>
  <div class="scrollsection">
    <ol class="skills-list">
      <li class="item pointsrow flexrow">
        <span class="name" style="font-weight: bold;">{{type}}</span>
        <div class="value" style="font-weight: bold;">{{localize 'CoC7.CoCIDFlag.key'}}</div>
        <div class="value" style="font-weight: bold;">&nbsp;</div>
      </li>
      {{#each missingNames as |row|}}
        <li class="item pointsrow flexrow" data-name="{{row.name}}">
          <span class="skill-name">{{row.name}}</span>
          <div class="value">
            <select class="existing">
              <option value="">{{localize 'CoC7.CoCIDFlag.new'}}</option>
              {{#select row.custom}}
                {{#each ../foundKeys as |option|}}
                  <option value="{{option.key}}">{{option.name}}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="value flexrow">
            {{#if row.key}}
              {{row.custom}}
            {{else}}
              <span style="flex: 0; margin-top: 2px;">{{../object.idPrefix}}</span>
              <input type="text" style="flex: 2;" value="{{row.suffix}}">
              <a style="flex: 0 0 20px; align-self: center; text-align: right;" title="{{localize 'CoC7.CoCIDFlag.guess'}}"><i class="fas fa-wand-magic"></i></a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
  <div class="dialog-buttons">
    <button class="dialog-button">
        <i class="fas fa-check"></i>
        {{localize 'CoC7.Migrate.ButtonUpdate'}}
    </button>
  </div>
</form>
