<h1 style="flex: 0 0 auto;">{{localize 'CoC7.InvestigatorWizard.TitleBackstory'}}</h1>
<div class="scrollsection scroll-to-backstory">
  {{#each backstories as |backstory|}}
    <label>{{backstory.name}}</label>
    <div class="form-group">
      <textarea class="backstory-text" data-index="{{backstory.index}}">{{backstory.value}}</textarea>
    </div>
    <div class="form-group">
      {{#if backstory.rolls}}
        <button class="backstory-roll" type="button" data-index="{{backstory.index}}" data-key="{{backstory.rolls}}"><i class="fas fa-dice-d20"></i> {{localize 'TABLE.Roll'}}</button>
      {{/if}}
      <button class="backstory-reset" type="button" data-index="{{backstory.index}}"><i class="fas fa-undo"></i> {{localize 'TABLE.Reset'}}</button>
    </div>
    <div class="form-group">&nbsp;</div>
  {{/each}}
</div>