<h1 style="flex: 0 0 auto;">{{localize 'CoC7.InvestigatorWizard.TitleSelectArchetype'}}</h1>
<div class="scrollsection">
  <p>{{localize 'CoC7.InvestigatorWizard.ArchetypePage'}}</p>
  <div class="form-group">
    <label for="coc-archetype">{{localize 'CoC7.InvestigatorWizard.ArchetypeSelect'}}:</label>
    <select name="coc-archetype" class="submit_on_change">
      <option value="">&nbsp;</option>
      {{#select object.archetype}}
        {{#each archetypes as |archetype|}}
          <option value="{{archetype.flags.CoC7.cocidFlag.id}}">{{archetype.name}}</option>
        {{/each}}
      {{/select}}
    </select>
  </div>
  {{#if object.archetype}}
    {{{description}}}
    <ul>
      <li>{{{localize 'CoC7.InvestigatorWizard.CoreCharacteristicName' coreCharacteristic=coreCharacteristic}}}</li>
      <li>{{{localize 'CoC7.InvestigatorWizard.AddBonusPointsToSkills' bonusPoints=bonusPoints skills=skills}}}</li>
      <li>{{{localize 'CoC7.InvestigatorWizard.SuggestedOccupations' suggested=suggestedOccupations}}}</li>
      <li>{{{localize 'CoC7.InvestigatorWizard.SuggestedTraits' suggested=suggestedTraits}}}</li>
    </ul>
  {{/if}}
</div>