<h1 style="flex: 0 0 auto;">{{localize 'CoC7.InvestigatorWizard.TitleSelectSetup'}}</h1>
<div class="scrollsection">
  <p>{{localize 'CoC7.InvestigatorWizard.SetupPage'}}</p>
  <div class="form-group">
    <label for="coc-setup">{{localize 'CoC7.InvestigatorWizard.SetupSelect'}}:</label>
    <select name="coc-setup" class="submit_on_change">
      <option value="">&nbsp;</option>
      {{selectOptions setupOptions selected=object.setup valueAttr="key" labelAttr="name"}}
    </select>
  </div>
  {{#if object.setup}}
    {{{description}}}
  {{/if}}
</div>
