<h1 style="flex: 0 0 auto;">{{localize 'CoC7.InvestigatorWizard.TitleAdjustCharacteristics'}}</h1>
<div class="scrollsection">
  {{#unless pulpRuleIgnoreAgePenalties}}
    {{#if object.requiresAgeAdjustments.edu}}
      {{#if (eq 1 object.requiresAgeAdjustments.edu.total)}}
        <h2>{{localize 'CoC7.InvestigatorWizard.MakeEDUImprovementCheck' total=object.requiresAgeAdjustments.edu.total}}</h2>
      {{else}}
        <h2>{{localize 'CoC7.InvestigatorWizard.MakeEDUImprovementChecks' total=object.requiresAgeAdjustments.edu.total}}</h2>
      {{/if}}
      <div class="flexcol">
        <ol class="item-list">
          <li class="item flexrow">
            <label class="flex2">{{localize 'CHARAC.Education'}} ({{object.setupPoints.edu}}%):</label>
            <div>{{points.edu.value}}%</div>
          </li>
          <li class="item flexrow" style="min-height: 2.1rem;">
            <label class="flex2">&nbsp;</label>
            {{#unless object.requiresAgeAdjustments.edu.rolled}}
              <button class="roll_edu">{{localize 'CoC7.RollDice'}}</button>
            {{/unless}}
          </li>
        </ol>
      </div>
      <p>&nbsp</p>
    {{/if}}
    {{#if object.requiresAgeAdjustments.deduct}}
      <h2>{{localize 'CoC7.InvestigatorWizard.DeductPointsFromCharacteristics' total=object.requiresAgeAdjustments.deduct.total from=deductFrom}}</h2>
      <div class="flexcol">
        <ol class="item-list">
          {{#each object.requiresAgeAdjustments.deduct.from as |characteristic|}}
            <li class="item flexrow" data-offset="{{characteristic}}" data-min="{{lookup (lookup ../points characteristic) 'min'}}" data-max="0">
              <div class="item-name flexrow">
                <label class="flex2">{{localize (lookup (lookup ../points characteristic) 'label')}} ({{lookup ../object.setupPoints characteristic}}%):</label>
                <a class="decrease-10-characteristic"><i class="fas fa-angles-down"></i></a>
                <a class="decrease-characteristic"><i class="fas fa-minus-circle"></i></a>
                <div>{{lookup (lookup ../points characteristic) 'value'}}% ({{#if (gt (lookup ../object.setupModifiers characteristic) 0)}}+{{/if}}{{lookup ../object.setupModifiers characteristic}})</div>
                <a class="increase-characteristic"><i class="fas fa-plus-circle"></i></a>
                <a class="increase-10-characteristic"><i class="fas fa-angles-up"></i></a>
              </div>
            </li>
          {{/each}}
          <li class="item flexrow">
            <div class="item-name flexrow">
              <label class="flex2">{{localize 'CoC7.CharacteristicsPoints'}}:</label>
              <div class="nothing-10-characteristic"></div>
              <div class="nothing-characteristic"></div>
              <div>
                <span class='total'>{{deductTotal}}</span>
                <span class='sep'>/</span>
                <span class='value'>{{object.requiresAgeAdjustments.deduct.total}}</span>
              </div>
              <div class="nothing-characteristic"></div>
              <div class="nothing-10-characteristic"></div>
            </div>
          </li>
        </ol>
      </div>
      <p>&nbsp</p>
    {{/if}}
    {{#if object.requiresAgeAdjustments.reduce}}
      <h2>{{localize 'CoC7.InvestigatorWizard.ReducePointsFromCharacteristic' total=object.requiresAgeAdjustments.reduce.total from=reduceFrom}}</h2>
      <div class="flexcol">
        <ol class="item-list">
          <li class="item flexrow">
            <div class="item-name flexrow">
              <label class="flex2">{{localize (lookup (lookup points object.requiresAgeAdjustments.reduce.from) 'label')}} ({{lookup object.setupPoints object.requiresAgeAdjustments.reduce.from}}%):</label>
              <div>{{lookup (lookup points object.requiresAgeAdjustments.reduce.from) 'value'}}%</div>
            </div>
          </li>
        </ol>
      </div>
      <p>&nbsp</p>
    {{/if}}
    {{#if object.requiresAgeAdjustments.luck}}
      <h2>{{localize 'CoC7.InvestigatorWizard.RollTwiceForLuck'}}</h2>
      <div class="flexcol">
        <ol class="item-list">
          <li class="item flexrow">
            <label class="flex2">{{localize 'CoC7.Luck'}} ({{object.setupPoints.luck}}% / {{object.setupModifiers.luck}}%):</label>
            <div>{{luckValue}}%</div>
          </li>
          <li class="item flexrow" style="min-height: 2.1rem;">
            <label class="flex2">&nbsp;</label>
            {{#unless object.setupModifiers.luck}}
              <button class="roll_luck">{{localize 'CoC7.RollDice'}}</button>
            {{/unless}}
          </li>
        </ol>
      </div>
      <p>&nbsp</p>
    {{/if}}
  {{/unless}}
</div>