<div class="coc7-chat-header flexcol">
  {{#if attackerUuid}}
    <div class="flexrow">
      <div class="left-portrait{{#if (and displayActorOnCard itemImg)}} double-portrait{{/if}} flexrow" data-actor-uuid="{{attackerUuid}}">
        {{#if displayActorOnCard}}
          <img class="portrait open-actor" data-actor-uuid="{{attackerUuid}}" src="{{attackerImg}}" data-tooltip="{{attackerName}}" />
        {{/if}}
        <img class="portrait open-actor" data-actor-uuid="{{attackerUuid}}" src="{{itemImg}}" data-tooltip="{{itemName}}" />
      </div>
      <div class="card-title">
        {{itemName}}
      </div>
      <div class="actor-portrait right-portrait">
        <img class="portrait" data-actor-uuid="{{targetUuid}}" src="{{targetImg}}" data-tooltip="{{targetName}}" />
      </div>
    </div>
  {{else}}
    <div class="card-title">{{resultText}}</div>
  {{/if}}
</div>
{{#if rollDamage}}
  {{#if targetUuid}}
    <div class="coc7-chat-content">{{targetName}} {{localize 'CoC7.meleeCombatDamageTakes'}} {{weaponDamage}}{{#if weaponAddFullDB}}{{localize 'CoC7.WeaponAddDb'}}{{/if}}{{#if weaponAddHalfDB}}{{localize 'CoC7.WeaponAddHalfDb'}}{{/if}} {{localize 'CoC7.meleeCombatDamageFrom'}} {{itemName}}</div>
  {{else}}
    <div class="coc7-chat-content">{{attackerName}} {{localize 'CoC7.meleeCombatDamageDeals'}} {{weaponDamage}}{{#if weaponAddFullDB}}{{localize 'CoC7.WeaponAddDb'}}{{/if}}{{#if weaponAddHalfDB}}{{localize 'CoC7.WeaponAddHalfDb'}}{{/if}} {{localize 'CoC7.meleeCombatDamageWith'}} {{itemName}}</div>
  {{/if}}
{{/if}}
{{#if (or enrichedItemDescriptionValue hasWeaponSpecial)}}
  <div class="coc7-chat-description flexcol">
    <div class="coc7-formatted-text">
      {{{enrichedItemDescriptionValue}}}
    </div>
    {{#if hasWeaponSpecial}}
      <div class="coc7-formatted-text">
        <div class="coc7-tags">
          <span class="tag">{{localize 'CoC7.WeaponSpecial'}}</span>
        </div>
        {{{enrichedWeaponDescriptionSpecial}}}
      </div>
    {{/if}}
  </div>
{{/if}}
{{#if rollDamage}}
  <div class="{{#unless rollHtml}}not-keeper-block {{/unless}}flexrow">
    <div class="coc7-tags">
      {{#if isCritical}}
        <span class="tag" data-tooltip="CoC7.CriticalTitle">{{localize 'CoC7.Critical'}}</span>
        {{#if isImpale}}
          <span class="tag" data-tooltip="CoC7.ImpaleTitle">{{localize 'CoC7.Impale'}}</span>
        {{/if}}
      {{/if}}
    </div>
    {{#if targetUuid}}
      {{#unless ignoreArmor}}
        <div class="{{#unless rollHtml}}owner-and-keeper-block {{else}}keeper-only-block {{/unless}}flexrow" style="flex: 0 0 auto;" data-actor-uuid="{{targetUuid}}">
          <label style="flex: 0 0 auto;">{{localize 'CoC7.Armor'}}:</label>
          <span style="flex: 0 0 auto;">{{targetArmor}}</span>
        </div>
      {{/unless}}
    {{/if}}
  </div>
  {{#unless rollHtml}}
    <div class="keeper-only-block as-whisper-block coc7-card-buttons coc7-half-buttons flexrow">
      <button class="keeper-only-control{{#if isCritical}} switched-on{{/if}}" data-action="toggleValue" data-set="isCritical" data-tooltip="CoC7.CriticalTitle">{{localize 'CoC7.Critical'}}</button>
      {{#if isCritical}}
        <button class="keeper-only-control{{#if isImpale}} switched-on{{/if}}" data-action="toggleValue" data-set="isImpale" data-tooltip="CoC7.ImpaleTitle">{{localize 'CoC7.Impale'}}</button>
      {{else}}
        <div class="coc7-button-area"></div>
      {{/if}}
    </div>
    {{#if targetUuid}}
      <div class="keeper-only-block as-whisper-block coc7-card-buttons flexrow">
        <div></div>
        <button class="keeper-only-control coc7-short-button{{#if ignoreArmor}} switched-on{{/if}}"data-action="toggleValue" data-set="ignoreArmor">{{#if ignoreArmor}}<i class="game-icon game-icon-armor-downgrade"></i>{{else}}<i class="game-icon game-icon-armor-upgrade"></i>{{/if}}</button>
        {{#unless ignoreArmor}}
          <label style="flex: 0 0 auto;">{{localize 'CoC7.Armor'}}:</label>
          <input type="text" value="{{targetArmor}}">
          {{#if isArmorFormula}}
            <button class="keeper-only-control coc7-short-button" data-action="rollArmor"><i class="fa-solid fa-dice"></i></button>
          {{/if}}
        {{/unless}}
      </div>
    {{/if}}
    {{#unless isDamageOnlyNumbers}}
      <div class="owner-and-keeper-block coc7-card-buttons flexrow" data-actor-uuid="{{attackerUuid}}">
        <button data-action="rollDamage">{{localize 'CoC7.RollDamage'}}: {{damageFormula}}</button>
      </div>
    {{/unless}}
  {{else}}
    {{{rollHtml}}}
  {{/unless}}
  {{#if isDamageOnlyNumbers}}
    {{#if targetUuid}}
      {{#if isDamageInflicted}}
        <div class="coc7-faux-button" style="margin-top: 4px;">{{localize 'CoC7.DamageInflicted'}}: {{inflictDamageText}}</div>
      {{else}}
        <div class="keeper-only-block coc7-card-buttons flexrow">
          <button data-action="dealDamage">{{localize 'CoC7.InflictPain'}} ({{inflictDamageText}})</button>
        </div>
      {{/if}}
    {{else}}
      <div class="coc7-faux-button" style="margin-top: 4px;">{{localize 'CoC7.TotalDamage'}}: {{inflictDamageText}}</div>
      <div class="coc7-card-buttons flexrow">
        <button data-action="applyValue">{{localize 'CoC7.InflictPain'}}</button>
      </div>
    {{/if}}
  {{/if}}
{{else if attackerUuid}}
  <div class="coc7-chat-content">{{resultText}}</div>
{{/if}}
{{#if (eq @root.foundryGeneration 13)}}<div class="never-expand" data-action="expandRoll"></div>{{/if}}