{{#unless skipSanRoll}}
  <div class="coc7-chat-header flexcol">
    <div class="flexrow">
      <div class="left-portrait flexrow" data-actor-uuid="{{actorUuid}}">
        {{#if displayActorOnCard}}
          <img class="portrait open-actor" data-actor-uuid="{{actorUuid}}" src="{{actorImg}}" data-tooltip="{{actorName}}" />
        {{/if}}
      </div>
      <div class="card-title">
        {{localize 'CoC7.SanityCheck'}}
      </div>
      <div class="actor-portrait right-portrait" data-actor-uuid="{{sourceUuid}}">
        {{#if sourceUuid}}
          <img class="portrait open-actor" data-actor-uuid="{{sourceUuid}}" src="{{sourceImg}}" data-tooltip="{{sourceName}}" />
        {{/if}}
      </div>
    </div>
  </div>
{{/unless}}
<div class="coc7-chat-description">
  {{#if sanRolled}}
    <div class="coc7-chat-description">{{localize 'CoC7.SanityCheckPerformed'}}</div>
    {{#if diceGroup}}
      {{~> 'systems/CoC7/templates/chat/parts/roll-no-formula-dice.hbs' checkRevealed=true}}
    {{/if}}
    {{#if involuntaryActionPerformed}}
      {{#unless sanCheckPassed}}
        <div class="tag">{{localize 'CoC7.InvoluntaryActionPerformed'}}</div>
      {{/unless}}
      {{#if sanLossRolled}}
        {{#if sanLossApplied}}
          {{#if actorLostSan}}
            {{#if sanLossRoll}}
              <div class="coc7-chat-description">{{localize 'CoC7.SanityLost'}}</div>
              {{{sanLossRoll}}}
            {{else}}
              <div class="tag">{{localize 'CoC7.SanityLost'}}: {{rolledSanLoss}}</div>
            {{/if}}
            {{#if limitedLossToCreature}}
              <div class="tag">{{localize 'CoC7.GrowingAccustomedToAwfulness'}}: {{preHardenedSanLoss}}</div>
            {{/if}}
            {{#if actorUseMythosHardened}}
              <div class="tag">{{localize 'CoC7.BackgroundFlagsMythosHardened'}}: {{preHardenedSanLoss}} / 2 = {{sanLossFinal}}</div>
            {{/if}}
          {{else}}
            {{#if immuneAlreadyInBout}}
              <div class="tag">{{localize 'CoC7.AlreadyInABout'}}</div>
            {{/if}}
            {{#if immuneToCreature}}
              <div class="tag">{{localize 'CoC7.ImmuneToAwfulness'}}</div>
            {{/if}}
          {{/if}}
          {{#if intRolled}}
            {{#if memoryRepressed}}
              <div class="coc7-chat-description">{{localize 'CoC7.MemoryRepressed'}}</div>
              {{~> 'systems/CoC7/templates/chat/parts/roll-no-formula-dice.hbs' checkRevealed=true flavor='' diceGroup=intDiceGroup bonusDice=intBonusDice bonusType=intBonusType buttons=[]}}
            {{/if}}
            {{#if temporaryInsane}}
              <div class="coc7-chat-description">{{localize 'CoC7.RememberEverything'}}</div>
              {{~> 'systems/CoC7/templates/chat/parts/roll-no-formula-dice.hbs' checkRevealed=true flavor='' diceGroup=intDiceGroup bonusDice=intBonusDice bonusType=intBonusType buttons=[]}}
            {{/if}}
            {{#if hasInsanity}}
              {{#unless boutOfMadnessOver}}
                <div class="tag">{{localize 'CoC7.EnteringBoutOfMadness'}}{{#if (and boutOfMadnessResolved actorTempoInsaneDurationText)}} ({{actorTempoInsaneDurationText}}){{/if}}</div>
              {{/unless}}
              {{#if permanentlyInsane}}
                <div class="tag">{{localize 'CoC7.GoodForAsylum'}}</div>
              {{/if}}
              {{#if boutOfMadnessResolved}}
                {{#if boutResult.phobia}}
                  <div class="tag">{{localize 'CoC7.PhobiaGained'}}: {{boutResult.name}}</div>
                {{/if}}

                {{#if boutResult.mania}}
                  <div class="tag">{{localize 'CoC7.ManiaGained'}}: {{boutResult.name}}</div>
                {{/if}}

                {{#if boutOfMadnessOver}}
                  <div class="tag">{{localize 'CoC7.BoutOfMadnessLasted'}} {{boutDuration}} {{#if boutRealTime}}{{localize 'CoC7.rounds'}}{{/if}}{{#if boutSummary}}{{localize 'CoC7.hours'}}{{/if}}</div>

                  {{#if indefinitelyInsane}}
                    <div class="tag">{{localize 'CoC7.IndefinitelyInsane'}}</div>
                  {{/if}}
                  {{#if temporaryInsane}}
                    <div class="tag">{{localize 'CoC7.TemporaryInsane'}}</div>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{else}}
            <div class="owner-and-keeper-block coc7-card-buttons flexrow" data-actor-uuid="{{actorUuid}}">
              <button data-action="roll-int-check">{{localize 'CoC7.IntCheck'}}: ({{actorInt}}%)</button>
            </div>
          {{/if}}
        {{/if}}
      {{else}}
        <div class="owner-and-keeper-block coc7-card-buttons flexrow" data-actor-uuid="{{actorUuid}}">
          <button data-action="roll-san-loss">{{localize 'CoC7.Roll'}} {{localize 'CoC7.SANLoss'}}: {{sanLossFormula}}</button>
        </div>
      {{/if}}
    {{/if}}
  {{else if permanentlyInsane}}
    <div class="coc7-important">{{localize 'CoC7.PlayerPermanentlyInsane'}}</div>
  {{else}}
    <div class="owner-and-keeper-block coc7-card-buttons flexrow" data-actor-uuid="{{actorUuid}}">
      <button data-action="rollSanCheck">{{localize 'CoC7.SanityCheck'}}: ({{actorSan}}%)</button>
    </div>
  {{/if}}

  {{#if cthulhuMythosAwarded}}
    <div class="tag">{{youGainCthulhuMythosString}}</div>
  {{/if}}
</div>
<div class="keeper-only-block coc7-tags">
  {{#if alreadyInsane}}
    <div class="tag">{{localize 'CoC7.AlreadyUnderlyingInsanity'}}</div>
  {{/if}}
  {{#if boutOfMadnessResolved}}
    {{#if boutResult.phobia}}
      <div class="tag">{{localize 'CoC7.InvestigatorPhobiaGained'}}</div>
    {{/if}}
    {{#if boutResult.mania}}
      <div class="tag">{{localize 'CoC7.InvestigatorManiaGained'}}</div>
    {{/if}}
    <div class="bout-info">{{{boutResult.description}}}</div>
    {{#unless boutOfMadnessOver}}
      <div class="coc7-card-buttons flexrow">
        <button data-action="boutOfMadnessOver">{{localize 'CoC7.EndBoutOfMadness'}}</button>
      </div>
    {{/unless}}
  {{/if}}
  {{#if hasInsanity}}
    {{#if permanentlyInsane}}
      <div class="tag important">{{localize 'CoC7.PlayerPermanentlyInsane'}}</div>
    {{else}}
      {{#unless boutOfMadnessResolved}}
        <div class="coc7-card-buttons flexrow">
          <button data-action="enterBoutOfMadnessRealTime">{{localize 'CoC7.BoutRealTime'}}</button>
          <button data-action="enterBoutOfMadnessSummary">{{localize 'CoC7.BoutSummary'}}</button>
        </div>
      {{/unless}}
    {{/if}}
  {{/if}}
  {{#if (and sanCheckFailed (not involuntaryActionPerformed))}}
    <div class="coc7-card-buttons flexrow">
      <button data-action="involuntaryActionPerformed">{{localize 'CoC7.PerformInvoluntaryAction'}}</button>
    </div>
  {{/if}}

  {{#if (and sanLossRolled (not sanLossApplied))}}
    <div class="coc7-card-buttons flexrow">
      <button data-action="sanLossApplied">{{localize 'CoC7.Apply'}}: {{sanLossFinal}}</button>
    </div>
  {{/if}}

  {{#if actorHasTempoInsane}}
    <div class="tag">{{localize 'CoC7.BoutActive'}}</div>
  {{/if}}

  {{#if actorUseMythosHardened}}
    <div class="tag">{{localize 'CoC7.BackgroundFlagsMythosHardened'}}</div>
  {{/if}}

  {{#if sanReason}}
    {{#if (and hasInsanity sanLossFinal (not cthulhuMythosAwarded))}}
      <div class="coc7-card-buttons flexrow">
        {{#if firstEncounter}}
          <button data-action="cthulhuMythosAwarded">{{localize 'CoC7.MythosFirstEncounter'}}</button>
        {{else}}
          <button data-action="cthulhuMythosAwarded">{{localize 'CoC7.MythosAlreadyEncountered'}}</button>
        {{/if}}
        <button data-action="noMythosGained">{{localize 'CoC7.DisregardMythosGain'}}</button>
      </div>
    {{/if}}

    {{#if sanLossReasonEncountered}}
      <div class="tag">{{localize 'CoC7.AlreadyEncountered'}} "{{sanReason}}"</div>
      <div class="tag">{{localize 'CoC7.AlreadyLost'}}: {{sanLostToReason}}</div>
      <div class="tag">{{localize 'CoC7.CreatureMaxLoss'}}: {{maxRollableSanLoss}}</div>
    {{/if}}
    <div class="tag">{{localize 'CoC7.MaxSanloss'}}: {{maxPossibleSanLoss}}</div>
    {{#if (and (not keepCreatureSanData) sanLossReasonEncountered)}}
      <div class="coc7-card-buttons flexrow">
        <button data-action="reset-creature-san-data">{{localize 'CoC7.ResetCreatureSan'}}</button>
        <button data-action="keepCreatureSanData">{{localize 'CoC7.KeepData'}}</button>
      </div>
    {{/if}}
  {{else}}
    <div class="tag">{{localize 'CoC7.MaxSanloss'}}: {{maxRollableSanLoss}}</div>
  {{/if}}

  {{#if mythosGained}}
    <div class="tag important">{{localize 'CoC7.MythosGain'}}: {{mythosGained}}%</div>
  {{/if}}

  {{#unless cardOpen}}
    <div class="tag">{{localize 'CoC7.CardResolved'}}</div>
  {{/unless}}
</div>
{{#if (eq @root.foundryGeneration 13)}}<div class="never-expand" data-action="expandRoll"></div>{{/if}}