{{#if automatedCosts}}
  {{#if castingTime}}
    <label>{{localize 'CoC7.SpellCastingTime'}}: {{castingTime}}</label>
  {{/if}}
  {{#if automatedLosses}}
    <div class="coc7-book-gains flexcol">
      <div class="coc7-spell-gains-header">
        <div>{{localize 'CoC7.Spell.Cost.CasterCost'}}</div>
      </div>
      {{#each automatedLosses as |loss key|}}
        <div class="coc7-book-gains-row">
          <div>{{loss.name}}</div>
          <div>{{loss.value}}</div>
        </div>
      {{/each}}
    </div>
    {{#if additionalInformation}}
      <div class="coc7-book-gains flexcol">
        <div class="coc7-spell-gains-header">
          <div>{{localize 'CoC7.Spell.Cost.AdditionalInformation'}}</div>
        </div>
        {{#each additionalInformation as |loss|}}
          <div class="coc7-spell-gains-row">
            <div>{{loss}}</div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
{{else if (or manualLosses additionalInformation)}}
  <ul style="color: red;">
    {{#each manualLosses as |loss key|}}
      <li>{{loss.name}}: {{loss.value}}</li>
    {{/each}}
    {{#each additionalInformation as |loss|}}
      <li>{{loss}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#each casterGroups as |additionalCaster index|}}
  {{#if additionalCaster.contents.length}}
    <div style="margin-top: 0.5rem">
      <div class="coc7-card-buttons flexrow">
        <button data-action="toggleBlock" data-offset="{{index}}">{{additionalCaster.label}}</button>
      </div>
      <div class="coc7-chat-toggled coc7-formatted-text">
        {{#each additionalCaster.contents as |contents|}}
          <div class="coc7-book-gains flexcol">
            <div class="coc7-spell-gains-header">
              <div>{{contents.name}}</div>
            </div>
            {{#each contents.costs as |loss|}}
              <div class="coc7-book-gains-row">
                <div>{{loss.name}}</div>
                <div>{{loss.value}}</div>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/each}}
<div class="keeper-only-block" style="margin-top: 0.5rem">
  <div class="coc7-card-buttons flexrow">
    <button data-action="toggleBlock" data-offset="{{casterGroups.length}}">{{localize 'CoC7.Description'}}</button>
  </div>
  <div class="coc7-chat-toggled coc7-formatted-text">
    {{{description}}}
  </div>
  {{#each dice as |roll|}}
    {{> (lookup .. 'diceTemplate') roll}}
  {{/each}}
</div>