<div class="flexcol">
  <div class="form-group">
    <label>{{localize 'CoC7.MinSanloss'}}</label>
    <input type="text" name="sanMin" value="{{sanMin}}" />
  </div>
  <div class="form-group">
    <label>{{localize 'CoC7.MaxSanloss'}}</label>
    <input type="text" name="sanMax" value="{{sanMax}}" />
  </div>
  <div class="form-group">
    <label>{{localize 'CoC7.SanityLossTypeReason'}}</label>
    <input type="text" name="sanReason" value="{{sanReason}}" />
  </div>
</div>