<div class="flexcol" style="gap: 0.375rem;">
  <div class="form-group" style="margin: 0 0 10px;">
    {{localize 'CoC7.SanityLossTypeDialogBody'}}
  </div>
  <div class="form-group">
    <label>{{localize 'CoC7.SanityLossType'}}</label>
    <select name="type">
      {{selectOptions encounterTypes selected=type localize=true valueAttr='key' labelAttr='label'}}
    </select>
  </div>
  <div class="form-group">
    <label>{{localize 'CoC7.SanityLossTypeReason'}}</label>
    <input type="text" name="name" value="{{name}}" />
  </div>
  {{#unless isImmunity}}
    <div class="form-group">
      <label>{{localize 'CoC7.SanityLossTypeValue'}}</label>
      <input type="number" name="value" value="{{value}}" />
    </div>
  {{/unless}}
</div>