<form>
  <div class="flexcol-coc7">
    {{#if object.allowSelect}}
      <div class="flexrow-coc7">
        <select name="existing-skill">
          <option value="">{{localize 'CoC7.SkillPickNameOnly'}}</option>
          {{selectOptions object.skills selected=object.selected valueAttr="id" nameAttr="id" labelAttr="name"}}
        </select>
      </div>
      <br>
    {{/if}}

    {{#if (and object.allowCustom (eq object.selected ''))}}
      <div class="flexrow-coc7">
        <label>{{localize 'CoC7.CustomSpecialisationLabel' specialisation=object.label}}</label>
      </div>

      <div class="flexrow-coc7">
        <input name="new-skill-name" type="text" value="{{object.name}}" placeholder="{{ localize 'CoC7.CreateNewSkill' }}"/>
      </div>

      {{#unless object.fixedBaseValue}}
        <br>
        <div class="flexrow-coc7">
          <label>{{localize 'CoC7.BaseSkillValue'}} :</label>
          <input name="base-value" type="text" value="{{object.baseValue}}" placeholder="{{ localize 'CoC7.SkillBase' }}"/>
        </div>
      {{/unless}}
      <br>
    {{/if}}

    <button class="submit-button" type="button" data-action="chat"><i class="fas fa-check"></i>{{ localize 'CoC7.Validate' }}</button>
  </div>
</form>
