<div class="item-name">
    <h3>{{item.name}}</h3>
</div>
<div class="section description">
    {{{description.value}}}
</div>
{{#if user.isGM}}
<div class="section gm-notes">
    {{{description.keeper}}}
</div>
{{/if}}
<div class="section properties">
    {{#each properties as |property|}}
        <div class="property">{{property}}</div>
    {{/each}}
    <div class="property">{{ localize 'CoC7.Damage'}}:{{damageFormula}}</div>
    {{#each labels as |label|}}
        <div class="property">{{label.name}}:{{label.value}}</div>
    {{/each}}
</div>
